# Gotera Backend Server Configuration
# Aligned with 'MongoDB 8.0 in Action' (Arek Borucki) & Express 5.x

PORT=5000
NODE_ENV=development

# MongoDB Connection String:
# 1. Local MongoDB Community Server:
MONGODB_URI=mongodb://127.0.0.1:27017/gotera

# 2. MongoDB Atlas Cloud Platform:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.gotera.mongodb.net/gotera?retryWrites=true&w=majority
